{% extends "layout.html" %}
{% block content %}
<style>
#sp{
margin-top: 20px;
margin-left: 50px;
}
body{
  background-image: url('https://www.google.com/search?q=background+images&rlz=1C1GCEU_enIN864IN864&tbm=isch&source=iu&ictx=1&fir=1Wdqsjofr9ArGM%253A%252CLAIZRd0gOwrSbM%252C_&vet=1&usg=AI4_-kT8tla6IctXfF7-qrTQL-sKoBssLw&sa=X&ved=2ahUKEwiekuDWifjlAhXRpOkKHaZ_BkIQ9QEwBXoECAgQNg#imgrc=1Wdqsjofr9ArGM:');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>
   <div class="about">
     <h1>About me</h1>
     <p>This is a portfolio site about anything that can be put in a portfolio.</p><br><br>
	 <a id='sp' class='btn-lg btn-warning' href="{{ url_for('home') }}">Home</a>
   </div>
 {% endblock %}